.page {
	display: flex;
	padding: 1em;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 2em;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 5em;
	gap: 1em;
	height: 1em;
}

.invalid {
	outline-width: 2px;
	outline-style: solid;
	outline-color: red;
}

.loading {
	opacity: .2;
	pointer-events: none;
}

.plants {
	display: grid;
	gap: 1em;
	transition: opacity .2s;
}

.options {
	display: flex;
	justify-content: center;
	gap: .5em;
}

.sortbutton {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	padding: 0 1em;
}

.sortdirection {
	width: .5em;
}

.chart {
	flex: 1;
	min-width: min(40em, 100vw);
}

.chartcontainer {
	height: 30em;
}
